
<!-- Home section-->

<header id="home-section">
<div class="dark-overlay text-center  text-light "  >
  <div class="home-inner">
    <div class="container">
<div class="row">
<div class="col-md-12 d-none d-md d-md-block">
  <h1 class="display-4">Store  <strong>your Documents</strong> in blockchain network </h1>

</div>

</div>

<div class="container  p-5 mu-5">

    <div class="row" >

        <div class="col-md-4">
        
        <p class="text-center">
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta hic vitae cumque. Cum, tempora dolorum ut ratione nulla pariatur provident.
        
        </p>
        
        </div>
        
        <div class="col-md-4">
        
          <p class="text-center">
          
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta hic vitae cumque. Cum, tempora dolorum ut ratione nulla pariatur provident.
          
          </p>
          
        </div>
          
        
        
          <div class="col-md-4">
        
              <p class="text-center">
              
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta hic vitae cumque. Cum, tempora dolorum ut ratione nulla pariatur provident.
              
              </p>
              
              </div>
              
        
        </div>
        

</div>
    </div>
  </div>
</div>
</header>
<br>


  