
body{
    background: #333;
    color:#fff;
    }


#home-section{
    background-image: url('../../assets/document.jpg') ;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
   
   
  }
