
<div  id="loginsection">

    <div class="row"   >
        <div class="  text-center   align-center"  class="col-md-6 mx-auto">
            <div   id="#login-section">
        
        
                <div class="text-center mu-5 pu-5 mb-5  center"  id="login" >
         
                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate  class="form-signin">
                        <img class="mb-4" src="../../assets/interwork.png" alt="interwork" width="72" height="72">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                            <label for="username" class="sr-only">Username</label>
                  
                            <input type="text"  status="success" class="form-control" name="username" id="input" [(ngModel)]="model.username" #username="ngModel" required  autofocus  placeholder="username" />
                            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                        </div>
        
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <label for="password "  class="sr-only">Password</label>
                            
                            <input type="password"  id="inputPassword"   placeholder="password" 
                            class="sr-only"class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        </div>
        
                        <div class="checkbox mb-3">
                            <label>
                              <input type="checkbox" value="remember-me"> Remember me
                            </label>
                          </div>
        
                        <div class="btn btn-lg btn-primary btn-block" >
                            <button [disabled]="loading" class="btn btn-primary">Login</button>
                           
                          
                        </div>
                       
                    </form>
                  </div>
        
            </div>
        
        
          </div>
        
        </div>
        
        
        
        
</div>