
<div class="jumbotron">
    <div class="container">
        <h1 class="text-center display-4">
         Upload File 
        </h1>
        <div class="container    text-secondary">
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader"  class="btn btn-primary btn-sm mr-auto" />  
        <button type="button" class="btn btn-success btn-s  float-right"
              (click)="uploader.uploadAll()" 
              [disabled]="!uploader.getNotUploadedItems().length">
              Upload
        </button>  
        </div>
      </div>
  </div>