
<!--   
  File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
  <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
  <!-- button to trigger the file upload when submitted -->
<!-- <button type="button" class="btn btn-success btn-s"
        (click)="uploader.uploadAll()" 
        [disabled]="!uploader.getNotUploadedItems().length">
        Upload
</button> --> 

<app-nav>

</app-nav>

<ng-flash-message></ng-flash-message> 

<h1 class="mb-5" > Hello </h1>

<section>

  <router-outlet>
  
  </router-outlet>
  
  </section>

  <footer id="main-footer" class="bg-dark text-center text-light "   id="fix-footer">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="py-4">
 <h1 class="h3">
 
   Interwork
 </h1>
 
   <P>Copyright &copy; 2019</P>
   
            </div>
 
          </div>
        </div>
      </div>
    </footer>
 